[Unit]
Description=Log and display your app usage
After=network.target

[Service]
ExecStart=/path/to/binary server
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target

